.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.venueList {
  position: absolute;
  left: 0;
  top: 0;
  width: 240px;
  z-index: 100;
  background: #fff;
  padding: 24px;
  height: 100%;
  text-align: left;
  font-size: 0.8em;
}

.venueList li {
  list-style-type: none;
  margin-top: 16px;
  cursor: pointer;
}

.venueList h1 {
  text-align: center;
  font-size: 1.2em;
  line-height: 1.8em;
  margin-bottom: 40px;
}
